<!--搜索推荐-->
<div>
    <div class="panel panel-default btnBox">
        <div class="panel-body clearfix">
            <input type="button" value="编辑" class="btn btn-success btnAdd pull-right" ng-click="pop()">
        </div>
    </div>
    <div class="navbar navbar-default homeNav">
        <span class="col-xs-12 col-sm-12 col-md-12">搜索关键词</span>
    </div>
    <div class="homeContent">
        <div class="searchContent">
            <div><span>填写关键词到下面的文本框内，如需添加多个，请用半角英文的逗号“,”隔开（关键词数量，最好是6的倍数）</span></div>
            <div><textarea cols="100" rows="10">连衣裙,雪纺裙,女鞋,男鞋,T恤女,玩具,防晒霜,减肥,1元好货,清仓,盆栽绿植,特惠返场,1元拿走,灯具,拖鞋,0元试用,surface,连衣裙,雪纺裙,女鞋,男鞋,T恤女,玩具,防晒霜,减肥,1元好货,清仓,盆栽绿植,特惠返场,1元拿走,灯具,拖鞋,0元试用,surface,连衣裙,雪纺裙,女鞋,男鞋,T恤女,玩具,防晒霜,减肥,1元好货,清仓,盆栽绿植,特惠返场,1元拿走,灯具,拖鞋,0元试用,surface,连衣裙,雪纺裙,女鞋,男鞋,T恤女,玩具,防晒霜,减肥,1元好货,清仓,盆栽绿植,特惠返场,1元拿走,灯具,拖鞋,0元试用,surface,连衣裙,雪纺裙,女鞋,男鞋,T恤女,玩具,防晒霜,减肥,1元好货,清仓,盆栽绿植,特惠返场,1元拿走,灯具,拖鞋,0元试用,surface</textarea>
            </div>
        </div>
    </div>
</div>