<!--优惠码-->
<div>
    <div class="panel panel-default btnBox">
        <div class="panel-body clearfix">
            <input type="button" value="编辑" class="btn btn-success btnAdd pull-right" ng-click="pop()">
        </div>
    </div>
    <div class="navbar navbar-default homeNav">
        <span class="col-xs-12 col-sm-12 col-md-12">设置优惠码</span>
    </div>
    <div class="homeContent">
        <div class="searchContent">
            <div><span>进行中</span></div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i>*</i>折扣</span>
                <input type="text" class="form-control" placeholder="Username"
                       aria-describedby="basic-addon1">折
            </div>
            <br/>

        </div>
    </div>
</div>